---
layout: default
---

<h1 class="text-4xl text-center pt-20">Eleventy boilerplate</h1>
<h2 class="text-center text-slate-500 mb-20" x-if="site.alpinejs" x-data="{message:'Alpine.js is enabled.'}" x-text="message">Alpine.js is not enabled.</h2>
<img src="../assets/img/demo.png">